body{
    background:#F5F5F5;
    padding-top:20px;
}
/* cube List */
.cube-list {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .cube-list:hover {
    -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
            box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
    position: relative;
    z-index: 99; }
    .cube-list:hover a.cube-list-favourite {
      color: #e74c3c;
      cursor: pointer; /* Custom, not definded by default */
      -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
              box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1); }

.cube-list .cube-list-image {
  margin-right: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  border: none; }
  .cube-list .cube-list-image img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
       object-fit: cover; }

.cube-list-title {
  margin-bottom: 5px; }

.cube-list-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0px; }
  .cube-list-details ul li {
    margin: 5px 10px 5px 0px;
    font-size: 13px; }

.cube-list .cube-list-favourite-time {
  margin-left: auto;
  text-align: center;
  font-size: 13px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px; }
  .cube-list .cube-list-favourite-time span {
    display: block;
    margin: 0 auto; }
  .cube-list .cube-list-favourite-time .cube-list-favourite {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #eeeeee;
    border-radius: 100%;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    font-size: 16px;
    color: #646f79;
    }
    .cube-list .cube-list-favourite-time .cube-list-favourite:hover {
      background: #ffffff;
      color: #e74c3c; }

.cube-banner .cube-list:hover {
  position: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  z-index: inherit; }


/* cube Grid */
.cube-list.cube-grid {
    padding: 0px;
    display: block;
    border-bottom: none;
}

.cube-grid .cube-list-image {
    text-align: center;
    margin-right: 0px;
}
.cube-grid .cube-list-image img {
    height: 336px;
    width: 100%;
}

.cube-grid .cube-list-details {
    text-align: center;
    padding: 20px 20px 0px 20px;
    border: 1px solid #eeeeee;
    border-top: none;
}
.cube-grid .cube-list-details ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.cube-grid .cube-list-details ul li {
    margin: 2px 5px;
}

.cube-grid .cube-list-favourite-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #eeeeee;
    margin-top: 10px;
    padding: 10px 0;
}
.cube-grid .cube-list-favourite-time a {
    margin-bottom: 0;
    margin-left: auto;
}
.cube-grid .cube-list-favourite-time span {
    display: inline-block;
    margin: 0;
    -ms-flex-item-align: center;
    align-self: center;
}

.cube-list.cube-grid .cube-list-favourite-time .cube-list-favourite {
    margin-bottom: 0px;
}

.owl-carousel .cube-list.cube-grid {
    margin-bottom: 20px;
}


/* Widget */
.widget .widget-title {
    margin-bottom: 20px;
}
.widget .widget-title h6 {
    margin-bottom: 0;
}
.widget .widget-title a {
    color: #212529;
}

.widget .widget-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}

/* checkbox */
.widget .widget-content {
    margin-top: 10px;
}
.widget .widget-content .custom-checkbox {
    margin-bottom: 8px;
}
.widget .widget-content .custom-checkbox:last-child {
    margin-bottom: 0px;
}

.widget ul {
    margin: 0;
}
.widget ul li a:hover {
    color: #21c87a;
}

.widget .widget-box {
    padding: 20px 15px;
}

.sidebar .widget {
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
}
.sidebar .widget .widget-title {
    border-bottom: 1px solid #eeeeee;
    padding: 14px 20px;
}

.sidebar .widget .widget-content {
    padding: 14px 20px;
}
.widget .widget-content {
    margin-top: 10px;
}

/* Custom */

/* Used by badges*/
.increase-size {
    font-size: 12px;
}

.badges-list {
    min-height: 60px;
}

/* Used by sticker key */
.text-sticker {
    color: #0a58ca;
}

/* Used by tags key */
.text-tags {
    color: #606060;
}
.bg-tags {
    --bs-bg-opacity: 1;
    background-color: #606060 !important;
}

/* Used by 360-magnifier */
.cloudimage-360-magnifier-icon {
	background: url(images/magnifier_icon.svg) 50% 50% / cover no-repeat;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
}

.cube-list-favourite-time {
    min-height: 60px;
}

/* Used by buttons */
.btn.btn-transparent {
    border-width: 3px;
    border-color: #000;
    color: #000;
}

/*Used on the body and the filter modal form*/
.background {
    background-image:url("images/backgroundV2.png");
}
.background-form {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
        url("images/backgroundV2.png");
}

/* Used on title and summary*/
.shadows {
    text-shadow: -15px 5px 20px #000000;
}

/* Badges */
.bg-white {
    --bs-bg-opacity: 1;
    background-color: #FFFFFF !important;
}
.bg-yellow{
    --bs-bg-opacity: 1;
    background-color: rgb(255, 213, 0) !important;
}
.bg-green{
    --bs-bg-opacity: 1;
    background-color: rgb(0, 155, 72) !important;
}
.bg-blue{
    --bs-bg-opacity: 1;
    background-color: rgb(0, 70, 173) !important;
}
.bg-orange{
    --bs-bg-opacity: 1;
    background-color: rgb(255, 88, 0) !important;
}
.bg-red{
    --bs-bg-opacity: 1;
    background-color: rgb(183, 18, 52) !important;
}
.bg-black{
    --bs-bg-opacity: 1;
    background-color: #000 !important;
}
.bg-grey{
    --bs-bg-opacity: 1;
    background-color: rgb(152, 151, 145) !important;
}

/* Text color, used on fiters */
.text-white{
    color: #FFF;
}
.text-yellow{
    color: rgb(255, 213, 0);
}
.text-green{
    color: rgb(0, 155, 72);
}
.text-blue{
    color: rgb(0, 70, 173);
}
.text-orange{
    color: rgb(255, 88, 0);
}
.text-red{
    color: rgb(183, 18, 52);
}
.text-black{
    color: #000;
}
.text-grey{
    color: rgb(152, 151, 145);
}
.text-purple {
    color:rgb(109, 38, 101);
}
.text-peach {
    color:rgb(249, 139, 136);
}

/* ORIGINAL */

.cube-area {
    padding: 10px;
    border-radius: 0.1em;
    background-color:#eeeeee;
}
.piece,.piece-with-stickers {
    width: 4em;
    height: 4em;
    border-radius: 0.2em;
    margin-left: 1px;
}
.piece-with-stickers {
    padding: 4px;
}
.sticker {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.1em;
    box-shadow: 2px 2px 2px rgba(250, 250, 250, 0.23), -2px -2px 2px rgba(250, 250, 250, 0.23);
}

/* Colors */
.color-black {
    background-color:black;
}
.color-white {
    background-color:white;
}
.color-red {
    background-color:rgb(183, 18, 52);
}      
.color-blue {
    background-color:rgb(0, 70, 173);
}
.color-orange {
    background-color:rgb(255, 88, 0);
}
.color-green {
    background-color:rgb(0, 155, 72);
}
.color-yellow {
    background-color:rgb(255, 213, 0);
}
.color-peach {
    background-color:rgb(249, 139, 136);
}
.color-grey {
    background-color:rgb(152, 151, 145);
}
.color-dark-grey {
    background-color:rgb(58, 58, 57);
}
.color-purple {
    background-color:rgb(109, 38, 101);
}
.color-dark-blue {
    background-color:rgb(0, 0, 139);
}
.color-pink {
    background-color:rgb(255, 192, 203);
}
.color-light-blue {
    background-color: rgb(100, 210, 255);
}
.color-lime {
    background-color: rgb(50, 255, 50);
}
.color-brown {
    background-color: rgb(139, 69, 19);
}
.color-gray {
    background-color: rgb(128, 128, 128);
}
.color-turquoise {
    background-color: rgb(48, 213, 200);
}
.color-gold {
    background-color: rgb(255, 215, 0);
}
.color-silver {
    background-color: rgb(192, 192, 192);
}
.color-magenta {
    background-color: rgb(255, 0, 255);
}
.color-dark-green {
    background-color: rgb(0, 80, 0);
}
.color-navy-blue {
    background-color: rgb(0, 0, 128);
}
.color-beige {
    background-color: rgb(245, 245, 220);
}

/* Special colors */
.color-phantom-white,.color-phantom-red,.color-phantom-blue,.color-phantom-orange,.color-phantom-green,.color-phantom-yellow {
    background-color: #292929;
    transition: background-color 2s;
}
.color-phantom-white:hover {
    background-color:white;
}
.color-phantom-red:hover {
    background-color:rgb(183, 18, 52);
}      
.color-phantom-blue:hover {
    background-color:rgb(0, 70, 173);
}
.color-phantom-orange:hover {
    background-color:rgb(255, 88, 0);
}
.color-phantom-green:hover {
    background-color:rgb(0, 155, 72);
}
.color-phantom-yellow:hover {
    background-color:rgb(255, 213, 0);
}

.color-green-01 {
    background-color: #2d6a4f;
}
.color-green-02 {
    background-color: #40916c;
}
.color-green-03 {
    background-color: #52b788;
}
.color-green-04 {
    background-color: #74c69d;
}
.color-green-05 {
    background-color: #95d5b2;
}
.color-green-06 {
    background-color: #b7e4c7;
}

.color-grey-01 {
    background-color: #6c706e;
}
.color-grey-02 {
    background-color: #989e9b;
}
.color-grey-03 {
    background-color: #b4bdb9;
}
.color-grey-04 {
    background-color: #c2cbc7;
}
.color-grey-05 {
    background-color: #d2d9d5;
}
.color-grey-06 {
    background-color: #dde3df;
}

.color-metallic-white,.color-metallic-red,.color-metallic-blue,.color-metallic-orange,.color-metallic-green,.color-metallic-yellow {
    background-color: #d2d9d5;
    transition: background-color 2s;
}
.color-metallic-white:hover {
    background-color:white;
}
.color-metallic-red:hover {
    background-color:rgb(183, 18, 52);
}      
.color-metallic-blue:hover {
    background-color:rgb(0, 70, 173);
}
.color-metallic-orange:hover {
    background-color:rgb(255, 88, 0);
}
.color-metallic-green:hover {
    background-color:rgb(0, 155, 72);
}
.color-metallic-yellow:hover {
    background-color:rgb(255, 213, 0);
}
.color-transparent {
    background-color: #f5f4f4d9;
}


/* Patterns */
.pattern-iridescent-titles:hover {
    animation: color-change 4s infinite;
}
.pattern-udon {
    /*background-image: url("images/stickers/udon.png");*/
}
.pattern-carbon-fiber {
    background-color: black;
    /*background-image: url("images/stickers/carbonfiber.png");*/
}
.pattern-bricks {
    /*background-image: url("images/stickers/bricks.png");*/
    background-size: 15px 15px;
}
.pattern-spades {
    /*background-image: url("images/stickers/spades1.png");*/
    background-size: contain;
    background-position-y: center;
}
.pattern-diamonds {
    /*background-image: url("images/stickers/diamonds.png");*/
}

.pattern-dna {
    /*background-image: url("images/stickers/dna.png");*/
    background-size: contain;
    background-position-y: center;
}
.pattern-crystals {
    /*background-image: url("images/stickers/crystals.png");*/
    background-size: contain;
    background-position-y: center;
    background-size: 6px 6px;
}


/*Color Custom Face, example: <div class="color-face" style="--face-image: url('images/stickers/cara1.png');"></div> */
.color-custom-face {
    background-image: var(--face-image);
    background-size: 100% 100%;
    top: 0px;
    left: 0px;
}
.color-custom-face:hover {
    width: 150px;
    height: 150px;
    top: -50px;
    left: -50px;
    z-index: 100;
}
@keyframes color-change {
    0% {
        background-color:white;
    }
    18% {
        background-color:rgb(183, 18, 52);
    }      
    24% {
        background-color:rgb(0, 70, 173);
    }
    42% {
        background-color:rgb(255, 88, 0);
    }
    60% {
        background-color:rgb(0, 155, 72);
    }
    78% {
        background-color:rgb(255, 213, 0);
    }
    100% {
        background-color:white;
    }
  }


  .title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #fe0000;
  --color-2: #0a79e9;
  --color-3: #c4510e;
}

.title-word-2 {
  --color-1: #64f43d;
  --color-2: #ebf20a;
  --color-3: #000000;
}

.title-word-3 {
  --color-1: #e6a10c;
  --color-2: #11b40e;
  --color-3: #1b6be3;
}

.title-word-4 {
  --color-1: #e1d015;
  --color-2: #030202;
  --color-3: #eb8d0b;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
