{{/* Simplified color-piece rendering: stickers, textures, zoom-face, base color handling. */}}

{{- range $idx, $color := .ColorSchema }}
    {{ $baseSame := eq $.Base "Same as color" }}
    {{ $hasStickers := not (eq $.Stickers "No") }}
    {{ $hasTexture := not (eq $.Texture "No") }}

    {{- if $hasStickers }}
        <div class="piece-with-stickers color-{{ if $baseSame }}{{ toCss $color }}{{ else }}{{ toCss $.Base }}{{ end }}" title="Base color: {{ if $baseSame }}{{ $color }}{{ else }}{{ $.Base }}{{ end }}">
            {{- if (and (not $baseSame) $.ZoomFace) }}
                <img class="sticker pattern-{{ toCss $.Stickers }} color-custom-face" loading="lazy" src="images/stickers/{{$.Image}}--{{ toCss $color }}.webp" alt="{{ $color }} {{ if not (eq $.Stickers "Yes") }}{{$.Stickers}} {{ end }} sticker.">
            {{- else }}
                {{- if $.CustomStickers }}
                <div class="sticker pattern-{{ toCss $.Stickers }} color-{{ toCss $color }}" data-bg="images/stickers/{{ toCss $.Stickers }}.png" title="{{ $color }} {{ if not (eq $.Stickers "Yes") }}{{$.Stickers}} {{ end }} sticker.">
                    <span></span>
                </div>
                {{- else }}
                <div class="sticker pattern-{{ toCss $.Stickers }} color-{{ toCss $color }}" title="{{ $color }} {{ if not (eq $.Stickers "Yes") }}{{$.Stickers}} {{ end }} sticker.">
                    <span></span>
                </div>
                {{- end }}
            {{- end }}
        </div>

    {{- else if $hasTexture }}
        {{- if $baseSame }}
            <div class="piece" title="Base color: {{ $color }}">
                <div class="sticker color-{{ toCss $color }} pattern-{{ toCss $.Texture }}" data-bg="images/stickers/{{ toCss $.Texture }}.png" title="{{ $.Texture }} texture in {{ $color }} color.">
                    <span></span>
                </div>
            </div>
        {{- else }}
            <div class="piece-with-stickers color-{{ toCss $.Base }}" title="Base color: {{ $.Base }}">
                <div class="sticker color-{{ toCss $color }} pattern-{{ toCss $.Texture }}" data-bg="images/stickers/{{ toCss $.Texture }}.png" title="{{ $.Texture }} texture in {{ $color }} color.">
                    <span></span>
                </div>
            </div>
        {{- end }}

    {{- else }}
        {{- if $baseSame }}
            <div class="piece" title="">
                {{- if $.ZoomFace }}
                    <img class="sticker color-custom-face" loading="lazy" src="images/stickers/{{$.Image}}--{{ toCss $color }}.webp" alt="{{ $color }} {{ if $.ZoomFace }}pattern{{else}}color{{ end }}.">
                {{- else }}
                    <div class="sticker color-{{ toCss $color }}" title="{{ $color }} {{ if $.ZoomFace }}pattern{{else}}color{{ end }}.">
                        <span></span>
                    </div>
                {{- end }}
            </div>
        {{- else }}
            <div class="piece-with-stickers color-{{ toCss $.Base }}" title="Base color: {{ $.Base }}">
                <div class="sticker color-{{ toCss $color }} pattern-{{ toCss $.Stickers }}" title="{{ $color }} without sticker.">
                    <span></span>
                </div>
            </div>
        {{- end }}
    {{- end }}
{{- end }}
